html, body, #root, .App {
  height: 100%;
}

.App {
  text-align: center;
  background-color: #DDDDDD;
  overflow: auto;
}

.App-logo {
  height: 120px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

