html, body, #root, .App {
  height: 100%;
}

.App {
  text-align: center;
  background-color: #DDDDDD;
  overflow: auto;
}

.App-logo {
  height: 120px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.search-metadata {
  background-color: #DDDDDD;
  align-self: flex-start;
}

.user-list {
  max-width: 960px;
  background-color: 'white'; 
  box-shadow: '2px 12px 15px darkgrey'; 
  margin: 'auto'; 
  min-height: '100%';
  overflow-y: 'scroll';
  justify-content: 'flex-start';
}

.user-list-container {
  flex-grow: 1;
  width: 100%;
}

.loading-container {
  max-width: 960px;
  background-color: white; 
  box-shadow: 2px 12px 15px darkgrey; 
  margin: auto; 
  min-height: 100%;
  overflow-y: scroll;
  justify-content: flex-start;
  flex-direction: column;
}

.loading-container.loading {
  justify-content: center;
}

.loading-container > .user-search-results {
  flex-grow: 1;
  overflow-y: unset;
}

.loading-container > * {
  width: 100%;
}